{% extends 'listBase.html.twig' %}

{% block page_content_title %}
    Enquêtes
{% endblock %}

{% block content %}
    {{ sg_datatables_render(datatable) }}
    <div class="form-group">
        <a href="{{ path('survey_add') }}" class="btn btn-primary">Ajouter </a>
        <a href="{{ path('home') }}" class="btn btn-danger">Retour</a>
    </div>
{% endblock %}