{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Succès
{% endblock %}

{% block page_content_title %}
    Confirmation
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>
                Bravo !
            </h2>
            <p>
                Vous êtes maintenant inscrit(e). Remplissez dès maintenant nos questionnaires en vous connectant !!
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/login">Se connecter</a>
            </p>
        </div>
    </div>
{% endblock %}